*{
    font-family: "Montserrat", sans-serif;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 750px) {
    .wrapper2 {
        display: none;
    }
}

@media (max-width: 750px) {
    body {
        box-sizing: border-box;
        background-color: #0f2137;
        font-family: "Montserrat", sans-serif;
        background: var(--bg);
        color: #fff;
    }

    .header {
        width: 412px;
        height: 90px;
    }

    .container {
        width: 372px;
        height: 90px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .wrapper1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -6px;
        margin-left: -7px;
    }

    .header-logo {
        width: 60px;
        height: 60px;
        margin-top: -10px;
    }

    .header-title {
        width: 123px;
        height: 22px;
        font-weight: 800;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #7ffc59;
    }

    .wrapeer2-btn {
        width: 137px;
        height: 43px;
        color: #91fa71;
        border-radius: 15px;
        border: 2px solid #91fa71;
        font-weight: 700;
        background-color: #91FA7126;
        margin-top: 15px;
    }

    #nav-toggle {
        display: none;
    }

    .nav {
        position: absolute;
        top: 100px;
        width: 100%;
        height: 750px;
        right: -1000%;
        background: #0f2037;
        box-shadow: -8px 0 30px rgba(0, 0, 0, 0.6);
        transition: right .96s cubic-bezier(.90, .30, .40, 1);
        z-index: 55;
    }

    li {
        position: relative;
        list-style: none;
        border-bottom: 1px solid gray;
    }

    nav.nav a {
        display: inline-block;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 16px;
        padding: 13px 0;
        color: gray;
    }

    nav.nav a:hover {
        color: #91fa71
    }

    a:active,
    a:focus {
        color: #7ff07a;
    }

    #nav-toggle:checked~.nav.nav {
        right: 0;
    }

    svg {
        height: 45px;
        position: absolute;
        width: 45px;
    }

    .plates {
        display: flex;
        flex-wrap: wrap;
        max-height: 160px;
        width: 740px;
    }

    .plate {
        height: 45px;
        width: 45px;
    }

    .burger {
        filter: url(#gooeyness);
        transform: translateY(-95px);
        margin-left: 355px;
    }

    .x {
        transform: scale(0);
        transition: transform 10ms;
    }

    .line {
        fill: none;
        stroke: #7ff07a;
        stroke-width: 6px;
        stroke-linecap: round;
        stroke-linejoin: round;
        transform-origin: 50%;
        transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
    }


    .x .line {
        stroke-width: 5.5px;
    }

    .plate4 .x {
        transition: transform 400ms;
    }

    .plate4 .line {
        transform-origin: 50%;
        transition: transform 400ms 100ms;
    }

    .active.plate4 .line {
        transition: transform 400ms;
    }

    .active.plate4 .line1 {
        transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(.7);
    }

    .active.plate4 .line2 {
        transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(.7);
    }

    .active.plate4 .line3 {
        transform: translateY(0px) rotate(45deg) scale(.7);
    }

    .active.plate4 .line4 {
        transform: translateY(0px) rotate(-45deg) scale(.7);
    }

    .active.plate4 .line5 {
        transform: translateX(18px) translateY(3px) rotate(45deg) scale(.7);
    }

    .active.plate4 .line6 {
        transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(.7);
    }

    .active.plate4 .x {
        transition: transform 400ms 100ms;
        transform: scale(1);
    }

    .wrapeer2-btn2 {
        display: inline-flex;
        width: 40px;
        height: 40px;
        border: none;
        background-color: #0f2330;
        margin-top: 16px;
    }

    .inner {
        width: 412px;
        height: 730px;
        margin-top: -35px;
    }

    .inner-container {
        width: 372px;
        height: 730px;
        margin: 0 auto;
    }

    .header-img {
        margin-left: -20px;
    }

    .hdr-img4 {
        width: 200px;
        height: auto;
        transform: translate(-42px, -1090px);
    }

    .hdr-img5 {
        width: 220px;
        height: auto;
        transform: translate(96px, -1362px);
    }

    .hdr-img6 {
        width: 230px;
        height: auto;
        transform: translate(237px, -1529px);
    }

    .hdr-item {
        width: 372px;
        height: 352px;
        transform: translateY(60px);
    }

    .hdr-into-item {
        width: 372px;
        /* margin-left: 20px; */
        box-sizing: border-box;
        transform: translateY(80px);
    }

    .hdr-into-item-title {
        width: 230px;
        height: 189px;
        font-weight: 900;
        font-size: 35px;
        text-align: center;
        margin: 0 auto;
        word-break: break-word;
    }

    .hdr-into-item-p {
        width: 372px;
        height: 105px;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
    }

    .hdr-into-item-btn {
        width: 372px;
        height: 55px;
        font-weight: 900;
        border-radius: 15px;
        background-color: #79F953;
        border: none;
        font-size: 18px;
        box-shadow: 0px 0px 5px 1px #79F953;
    }

    .hdr-into-item-btn:hover {
        background-color: rgb(40, 184, 40);
    }

    .hdr-img1 {
        width: 200px;
        height: auto;
        transform: translate(-46px, 55px);
    }

    .hdr-img2 {
        width: 207px;
        height: auto;
        transform: translate(100px, -120px);
    }

    .hdr-img3 {
        width: 200px;
        height: auto;
        transform: translate(250px, -363px);
    }

    .main {
        width: 412px;
        height: 1085px;
        /* padding-top: 245px; */
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .main-top-line {
        width: 372px;
        height: 3px;
        background-color: #91fa71;
        margin: 0 auto;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 40px;
        width: 372px;
        margin: 0 auto;
    }

    .main-title {
        width: 376px;
        height: 32px;
        font-weight: 800;
        font-size: 25px;
        color: #ffffff;
        letter-spacing: 0%;
        text-align: center;
        margin: 0 auto;
        transform: translateY(16px);
    }

    .main-title span {
        color: #91fa71;
    }

    .main-inner {
        display: flex;
        flex-direction: column;
        gap: 19px;
    }


    .inform1 {
        width: 376px;
        height: 219px;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        background-color: #FFFFFF1A;
    }

    .inform1-title-show {
        display: flex;
        flex-direction: row;
    }

    .inform1-title {
        color: #91fa71;
        height: 24px;
        font-weight: 800;
        font-size: 20px;
        transform: translate(145px, 7px);

    }

    .inform-ellipse {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #97F67A;
        transform: translate(80px, 170px);
    }

    .inform1-p {
        width: 322px;
        height: 80px;
        color: #ffff;
        margin-left: 25px;
        font-weight: 500;
        letter-spacing: 0%;
        font-size: 16px;
        text-align: center;
    }

    .inform1-p span {
        color: #91fa71;
        font-weight: 700;
    }

    .inform2 {
        width: 376px;
        height: 239px;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        background-color: #FFFFFF1A;
    }

    .inform2-title-show {
        display: flex;
        flex-direction: column;
    }

    .inform2-title {
        color: #91fa71;
        transform: translate(75px, 12px);
        font-weight: 800;
        font-size: 20px;
    }

    .inform2-ellipse2 {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #97F67A;
        transform: translate(175px, 137px);
    }

    .inform2-p {
        width: 322px;
        height: 100px;
        color: #ffff;
        font-weight: 500;
        letter-spacing: 0%;
        font-size: 16px;
        text-align: center;
        transform: translate(25px, -23px);
    }

    .inform2-p span {
        color: #91fa71;
        font-weight: 700;
    }

    .inform3 {
        transform: translateY(-25px);
        width: 376px;
        height: 355px;
        border-radius: 25px;
        background-color: #FFFFFF1A;
    }

    .inform3-show {
        display: flex;
        flex-direction: column;
    }

    .inform3-p1 {
        width: 322px;
        height: 80px;
        text-align: center;
        margin-left: 25px;
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
        transform: translateY(12px);
    }

    .inform3-ellipse {
        width: 20px;
        height: 20px;
        background-color: #97F67A;
        border-radius: 50%;
        transform: translate(175px, 200px);
    }

    .inform3-p2 {
        width: 322px;
        height: 40px;
        text-align: center;
        margin-left: 25px;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0%;
        color: #ffffff;
        transform: translateY(-16px);
    }

    .main-bottom-line {
        width: 376px;
        height: 3px;
        background-color: #7ffc59;
        transform: translateY(11px);
    }

    .main-center {
        width: 412px;
        display: flex;
        flex-direction: column;
        padding-top:-10px;
        flex-wrap: wrap;
        margin: 0 auto;
        position: relative;
    }

    .main-center-container {
        width: 372px;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-top: 35px;
    }

    .section-title {
        text-align: center;
        font-size: 26px;
        font-weight: 800;
        letter-spacing: 0%;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .section-title span {
        color: #7FFC59;
    }

    .accordion {
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
        gap: 10px;
    }

    details.item {
        background: var(--card);
        border-radius: 40px;
        padding: 0;
        overflow: visible;
        transition: transform .98s ease;
    }

    details.item summary {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    details.item summary::-webkit-details-marker {
        display: none;
    }

    .summary-row {
        width: 376px;
        height: 74px;
        display: flex;
        flex-direction: row;
        gap: 12px;
        background: #FFFFFF2A;
        cursor: pointer;
        user-select: none;
        border-radius: 100px 100px 100px 100px;
    }

    .item-title {
        width: 280px;
        height: 24px;
        font-weight: 800;
        font-size: 18px;
        color: #7FFC59;
        line-height: 1.05;
        margin-left: 25px;
        margin-top: 15px;
    }

    .chev {
        display: inline-grid;
        place-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #91fa71;
        background-image: url('../ImgSide/arrowspng.png');
        background-repeat: no-repeat;
        background-size: 16px;
        background-position-x: 4px;
        background-position-y: 4px;
        color: black;
        margin-top: 19px;
        margin-left: 9px;
        transform: rotate(0deg);
        transition: transform .25s ease, background .18s;
        flex-shrink: 0;
    }

    .item-body {
        padding: 18px;
        color: var(--muted);
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
        margin-top: 0;
        background: transparent;
        letter-spacing: 0%;
        position: relative;
        z-index: 19;
        margin-left: 4px;
        overflow-y: auto;
        overflow: hidden;
        border-radius: 30px;
        transition: max-height 320ms ease, padding 290ms ease;
    }

    body {
        --bg: #0f2137;
        --card: rgba(255, 255, 255, 0.10);
        --panel: rgba(255, 255, 255, 0.04);
        --accent: #7ff07a;
        --muted: #cbd5dd;
        --gap: 22px;
    }

    details.item[open] .item-body {
        max-height: var(--max-body-height);
    }

    .details-item .summary {
        position: relative;
        z-index: 1;
    }

    details.item[open] .chev {
        transform: rotate(180deg);
    }

    details[open] .item-body {
        max-height: 420px;
    }

    .item[open] .chev {
        transform: rotate(180deg);
        color: #0f2137;
    }

    .main-bottom {
        width: 412px;
        height: 552px;
        padding-top: 40px;
        position: relative;
        margin: 0 auto;
    }

    .main-bottom-container {
        width: 372px;
        height: 448px;
        display: flex;
        margin-left: 18px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
    }

    .main-bottom-title {
        width: 300px;
        height: 64px;
        font-weight: 800;
        font-size: 26px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .main-bottom-title span {
        color: #91fa71;
    }

    .main-bottom-inner {
        width: 176px;
        height: 214px;
        border-radius: 25px;
        background-color: #FFFFFF1A;
    }

    .main-bottom-img {
        width: 100px;
        height: 100px;
        margin-left: 32px;
        margin-top: 12px;
    }

    .main-bottom-p {
        width: 152px;
        height: 54px;
        margin-left: 10px;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
    }

    .section-row {
        width: 412px;
        height: 986px;
        padding-top: 10px;
        margin: 0 auto;
    }

    .section-container {
        width: 372px;
        height: 986px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: -20px;
    }

    .section-inner {
        height: 343px;
        width: 372px;
    }

    .section-title {
        width: 373px;
        height: 32px;
        font-weight: 800;
        font-size: 26px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .section-title2 {
        height: 148px;
        width: 376px;
        font-weight: 800;
        font-size: 30px;
        text-align: center;
        letter-spacing: 0%;
    }

    .section-title2 span {
        color: #91fa71;
    }

    .section-item {
        display: flex;
        flex-direction: row;
        gap: 17px;
        height: 45px;
        margin-top: 8px;
    }

    .section-img-size {
        width: 45px;
        height: 45px;
        border-radius: 15px;
        background-color: #7FFC591A;
        margin-top: 10px;
    }

    .section-img {
        width: 25.5px;
        height: 25.5px;
        margin: 10px 10px;
    }

    .section-p {
        width: 376px;
        height: 20px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0%;
        color: #ffffff;
    }

    .section-inner2 {
        width: 372px;
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 30px;
        background-color: #FFFFFF1A;
        gap: 10px;
    }

    .section-auth {
        display: flex;
        flex-direction: column;
        width: 376px;
        height: 77px;
        margin-left: 20px;
        gap: 15px;
    }

    .section-auth-item {
        display: flex;
        flex-direction: column;
    }

    .section-auth-input {
        width: 332px;
        height: 45px;
        border-radius: 10px;
        background-color: #FFFFFF1A;
        border: 1px solid #ccc;
        color: #ffffff;
        font-size: 18px;
        border: none;
        outline: none;
    }

    label {
        font-weight: 600;
        font-size: 15px;
        color: #FFFFFF;
        transform: translate(21px, 5px);
    }

    .section-name {
        transform: translate(5px, -3px);
    }

    ::placeholder {
        font-weight: 500;
        font-size: 18px;
        transform: translateX(10px);
        color: #B1B7C1;
    }

    .section-input {
        width: 332px;
        height: 45px;
        border-radius: 10px;
        background-color: #FFFFFF1A;
        border: none;
        color: #ffffff;
        font-size: 18px;
        margin-left: 17px;
        outline: none;
    }

    .section-input3 {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-top: 25px;
    }

    .section-btn {
        width: 332px;
        height: 50px;
        border-radius: 15px;
        background-color: #7FFC59;
        color: #323232;
        font-size: 18px;
        font-weight: 800;
        margin-left: 18px;
        margin-top: 28px;
    }

    .section-btn:hover {
        background-color: #5cdf35;
    }
}

@media (max-width: 750px) {
    .main-slider {
        width: 412px;
        height: 377px;
        margin: 0 auto;
        position: relative;
        margin-top: 40px;
    }

    .main-slider-title {
        height: 32px;
        font-weight: 800;
        font-size: 26px;
        letter-spacing: 0%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .main-slider-title span {
        color: #7FFC59;
    }

    .swiper.mySwiper {
        width: 372px;
        display: flex;
        overflow: hidden;
        position: relative;
        flex-direction: column;
        margin: 0 auto;

    }

    .swiper-slide {
        width: 372px;
        height: 235px;
        display: flex;
        flex-direction: row;
        border-radius: 30px;
        background-color: #FFFFFF2A;
        flex-shrink: 0;
        margin: 0 auto;
        transition: transform 0.3s ease-in-out;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        width: 40px;
        height: 40px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10;
    }

    .swiper-button-prev::after {
        color: #0000;
    }

    .swiper-button-next::after {
        color: #0000;
    }

    .swiper_row {
        width: 174px;
        height: 40px;
        display: flex;
        flex-direction: row;
        position: absolute;
        margin-top: 17px;
        margin-left: 120px;
        z-index: 10;
    }

    .swiper-pagination {
        transform: translateY(-200px);
        color: #91fa71;
    }

    .swiper-button-prev {
        font-size: 0;
        background-image: url("../ImgSide/Frame 125.png");
    }

    .swiper-button-next {
        background-image: url("../ImgSide/Frame 126.png");
    }

    .main-slider-p {
        width: 332px;
        height: 100px;
        margin-left: 20px;
        margin-top: 20px;
        opacity: 90%;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0%;
        color: #ffffff;
    }

    .main-slider-p2 {
        width: 150px;
        height: 18px;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 0%;
    }


    .main-slider-p3 {
        width: 237px;
        height: 16px;
        font-weight: 500;
        font-size: 13px;
        margin-top: -10px;
        letter-spacing: 0%;
    }

    .main-slider-p3 {
        color: #7ffc59;
    }

    .main-slider-human {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-left: 20px;
        padding-bottom: 14px;
    }

    .main-slider-img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        border: 3px solid #7ffc59;
    }
}

@media (max-width: 750px) {
    .contact-row {
        width: 412px;
        height: 426px;
        margin: 0 auto;
    }

    .contact-container {
        width: 372px;
        height: 426px;
        margin: 0 auto;
    }

    .contact-row-title {
        font-weight: 800;
        font-size: 35px;
        letter-spacing: 0%;
        color: #7ffc59;
        text-align: center;
    }

    .contact-inform {
        width: 376px;
        height: 354px;
        border-radius: 30px;
        background-color: #FFFFFF1A;
        background-image: url(../ImgSide/_\ \(1\).png);
        background-size: 220px;
        background-repeat: no-repeat;
        background-position-x: 202px;
        background-position-y: 110px;
    }

    .contact-inform-title {
        width: 332px;
        height: 90px;
        font-weight: 800;
        font-size: 25px;
        text-align: center;
        letter-spacing: 0%;
        transform: translate(17px, 28px);
    }

    .contact-inform-p {
        width: 332px;
        height: 48px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        margin-left: 20px;
        transform: translateY(20px);
    }

    .contact-inform-call {
        width: 273px;
        height: 20px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 46px;
    }

    .contact-inform-call2 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 340px;
        height: 23px;
        margin-left: 39px;
    }

    .contact-important {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 120px;
        transform: translateY(15px);
    }

    .contact-inform-img {
        width: 24px;
        height: 24px;
    }

    .contact-inform-p2 {
        width: 243px;
        height: 20px;
        font-weight: 500;
        font-size: 16px;
        color: #7FFC59;
        margin-top: -0.5px;
    }

    .contact-cyrcle {
        width: 200px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 120px;
        margin-top: -2px;
    }

    .cyrcle {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #7ffc59;
    }
}

@media (max-width: 750px) {
    .footer {
        width: 412px;
        height: 242px;
        padding-top: 40px;
        margin: 0 auto;
    }

    .footer-container {
        width: 412px;
        height: 242px;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF1A;
    }

    .footer-inform {
        width: 154px;
        height: 77px;
        margin-left: 22px;
        margin-top: -37px;
    }

    .footer-inform2 {
        margin-top: 94px;
        margin-left: 50px;
    }

    .footer-img-size {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #3d4351;
        transform: translateY(80px);
        margin-left: 320px;
    }

    .footer-img {
        width: 36px;
        height: 36px;
        margin-top: 4px;
        margin-left: 4px;
    }

    .footer-p {
        width: 140px;
        height: 22px;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0%;
        color: #ffffff;
    }

    .footer-p2 {
        width: 151px;
        height: 20px;
        font-weight: 400;
        font-size: 16px;
        margin-top: -10px;
    }

    .footer-inform2-p {
        width: 300px;
        height: 17px;
        font-weight: 500;
        font-size: 14px;
    }

    .footer-inform3-p {
        width: 170px;
        height: 18px;
        margin-left: 80px;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 0%;
    }
}