body {
    background-color: #131d34;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: var(--bg);
    color: #fff;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 750px) {
    .wrapper2 {
        display: none;
    }
}

@media (min-width: 1024px) {
    .nav {
        display: none;
    }
}

@media (min-width: 1024px) {
    .nav-input {
        display: none;
    }
}

@media (min-width: 1024px) {
    .header {
        margin: 0 auto;
    }

    .container {
        width: 1138px;
        height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 30px;
    }

    .wrapper1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: -6px;
        margin-left: -11px;
    }

    .header-logo {
        margin-top: -10px;
    }

    .header-title {
        width: 190px;
        height: 33px;
        font-weight: 800;
        font-size: 27px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #7ffc59;
        font-family: "Montserrat", sans-serif;
    }

    .wrapper2 {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-top: 29px;
        width: 323px;
        height: 22px;
    }

    .wrapper2-a {
        text-decoration: none;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF33;
    }

    .inner {
        /* width: 1920px; */
        height: 750px;
        /* margin: 0 auto; */
        margin-top: 125px;
        position: relative;
        overflow: visible;
    }

    .inner-container {
        width: 1128px;
        height: 630px;
        margin: 0 auto;
    }

    .wrapper2-a:hover {
        color: #91fa71;
    }

    .wrapeer2-btn {
        width: 186px;
        height: 50px;
        color: #91fa71;
        border-radius: 15px;
        border: 2px solid #91fa71;
        font-weight: 700;
        font-size: 18px;
        background-color: #91FA7126;
        margin-top: 15px;
    }

    .wrapper2-btn2 {
        display: none !important;

    }

    .hdr-item {
        width: 700px;
        margin: 0 auto;
    }

    .hdr-into-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 700px;
        height: 373px;
        margin-top: 230px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .hdr-into-item-title {
        margin: 0 auto;
        /* transform: translateY(10px); */
        width: 690px;
        height: 122px;
        font-weight: 900;
        font-size: 50px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 0%;
        line-height: 1.05;
        overflow-wrap: break-word;
        word-break: break-word;
        color: #ffffff;
    }

    .hdr-into-item-p {
        height: 81px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 22px;
        text-align: center;
        letter-spacing: 0%;
        color: #FFFFFFCC;
        margin-top: -4px;
    }

    .hdr-into-item-btn {
        width: 700px;
        height: 70px;
        border-radius: 15px;
        border: none;
        background-color: #79F953;
        font-weight: 900;
        font-size: 25px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 0%;
        color: #323232;
        box-shadow: 0px 0px 5px 1px #91fa71;
    }

    .header-img {
        margin-top: -400px;
    }

    .hdr-img1 {
        transform: translate(620px, -290px);
        /* position: absolute; */
    }

    .hdr-img2 {
        transform: translate(740px, -370px);
    }

    .hdr-img3 {
        transform: translate(630px, -500px);
    }

    .hdr-img4 {
        transform: translate(-320px, -1505px);
    }

    .hdr-img5 {
        transform: translate(-450px, -1600px);
    }

    .hdr-img6 {
        transform: translate(-600px, -1720px);
        margin-left: 280px;
    }


}

@media (min-width: 1024px) {
    .main {
        width: 1128px;
        height: 813px;
        margin: 0 auto;
        margin-top: -60px;
    }

    .main-top-line {
        width: 1128px;
        height: 3px;
        background-color: #91fa71;
    }

    .main-bottom-line {
        width: 1128px;
        height: 3px;
        background-color: #7FFC59;
        margin-top: 90px;
    }

    .main-container {
        width: 1128px;
        height: 553px;
        margin: 0a;
        transform: translateY(80px);
    }

    .main-title {
        font-weight: 800;
        font-family: "Montserrat", sans-serif;
        font-size: 35px;
        color: #ffffff;
        text-align: center;
        transform: translateY(-20px);
    }

    .main-title span {
        color: #91fa71;
    }

    .main-inner {
        display: flex;
        flex-direction: row;
        gap: 19px;
    }

    .inform1 {
        width: 554px;
        height: 220px;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        background-color: #FFFFFF1A;
    }

    .inform1-title-show {
        display: flex;
        flex-direction: row;
    }

    .inform1-title {
        color: #91fa71;
        margin-left: 25px;
        font-weight: 800;
        font-family: "Montserrat", sans-serif;
        font-size: 25px;

    }

    .inform-ellipse {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #97F67A;
        margin-left: 370px;
        margin-top: 22px;
    }

    .inform1-p {
        width: 504px;
        height: 72px;
        color: #ffff;
        margin-left: 25px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        letter-spacing: 0%;
        font-size: 20px;
        margin-top: -2px;
    }

    .inform1-p span {
        color: #91fa71;
        font-weight: 700;
    }

    .inform2 {
        width: 554px;
        height: 220px;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        background-color: #FFFFFF1A;
    }

    .inform2-title-show {
        display: flex;
        flex-direction: column;
    }

    .inform2-title {
        color: #91fa71;
        margin-left: 25px;
        font-weight: 800;
        font-family: "Montserrat", sans-serif;
        font-size: 25px;
    }

    .inform2-ellipse2 {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #97F67A;
        margin-left: 507px;
        margin-top: -50px;
    }

    .inform2-p {
        width: 504px;
        height: 72px;
        color: #ffff;
        margin-left: 25px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        letter-spacing: 0%;
        font-size: 20px;
        transform: translateY(6px);
    }

    .inform2-p span {
        color: #91fa71;
        font-weight: 700;
    }

    .inform3 {
        margin-top: 14px;
        width: 1128px;
        height: 230px;
        border-radius: 25px;
        background-color: #FFFFFF1A;
    }

    .inform3-show {
        display: flex;
        flex-direction: row;
    }

    .inform3-p1 {
        width: 1045px;
        height: 48px;
        margin-left: 25px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        color: #ffffff;
    }

    .inform3-ellipse {
        width: 20px;
        height: 20px;
        background-color: #97F67A;
        border-radius: 50%;
        margin-left: 15px;
        margin-top: 19px;
    }

    .inform3-p2 {
        width: 1078px;
        height: 24px;
        margin-left: 25px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        letter-spacing: 0%;
        color: #ffffff;
        transform: translateY(-16px);
    }

    .main-center {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 1128px;
        margin: 0 auto;
        /* height: auto; */
        /* margin-left: 396px; */
        margin-top: -10px;
        position: relative;
    }

    .main-center-container {
        padding-top: 30px;
        width: 1128px;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .section-title {
        margin: 0 auto;
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 0%;
    }

    .section-title span {
        color: var(--accent)
    }

    .accordion {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
    }

    details.item {
        /* height: 170px; */
        /* border-radius: calc(var(--radius) + 6px); */
        /* padding: 10px; */
        /* box-shadow: var(--shadow); */
        background: var(--card);
        /* фон всей карточки */
        border-radius: 40px;
        /* общий радиус */
        padding: 0;
        /* overflow: visible; */
        transition: transform .18s ease;
        /* position: relative; */
    }

    details.item summary {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    details.item summary::-webkit-details-marker {
        display: none;
    }

    /* Убираем стандартную стрелку summary */
    .summary-row {
        height: 80px;
        display: flex;
        flex-direction: row;
        gap: 12px;
        background: #FFFFFF1A;
        cursor: pointer;
        user-select: none;
        border-radius: 100px 100px 100px 100px;
    }

    .item-title {
        width: 700px;
        font-weight: 800;
        font-size: 25px;
        color: #79F953;
        line-height: 1.05;
        letter-spacing: 0%;
        margin-left: 25px;
        margin-top: 25px;
    }

    .chev {
        display: inline-grid;
        place-items: center;
        width: 33px;
        height: 33px;
        background-image: url('../ImgSide/arrowspng.png');
        background-repeat: no-repeat;
        background-size: 26px;
        background-position-x: 4px;
        background-position-y: 4px;
        border-radius: 50%;
        /* background: #91fa71; */
        color: black;
        background-color: #7ff07a;
        /* font-size: 40px; */
        margin-left: 340px;
        margin-top: 25px;
        font-size: 16px;
        transform: rotate(0deg);
        transition: transform .25s ease, background .18s;
        flex-shrink: 0;
    }

    .item-body {
        padding: 18px;
        color: var(--muted);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.65;
        margin-top: 0;
        /* важно: убрать margin между summary и body */
        background: transparent;
        border-radius: 20px 20px 90px 90px;
        max-height: 0;
        font-size: 20px;
        letter-spacing: 0%;
        position: relative;
        z-index: 0;
        overflow-y: auto;
        overflow: hidden;
        max-height: 0;
        transition: max-height .36s cubic-bezier(.2, .9, .2, 1), padding .18s;
    }


    :root {
        --bg: #0f2330;
        /* фон страницы */
        --card: rgba(255, 255, 255, 0.10);
        /* фон карточки */
        --panel: rgba(255, 255, 255, 0.04);
        /* фон верхней панели */
        --accent: #7ff07a;
        /* зелёный текст */
        --muted: #cbd5dd;
        /* описание */
        --radius: 18px;

    }

    /* details.item:focus-within {
        outline: 2px solid rgba(127, 240, 122, 0.15)
    } */


    /* Когда раскрыт — показываем тело и поворачиваем стрелку */
    details.item[open] .item-body {
        max-height: var(--max-body-height);
        /* padding-bottom: 18px; */
    }

    .details-item .summary {
        position: relative;
        z-index: 1;
    }

    details.item[open] .chev {
        transform: rotate(180deg);
        /* background: #91fa71; */
    }

    details[open] .item-body {
        max-height: 420px;
    }

    .main-bottom {
        width: 1128px;
        height: 350px;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        margin: 0 auto;
    }

    .main-bottom-title {
        font-weight: 800;
        font-size: 35px;
        letter-spacing: 0%;
        /* text-align: center; */
        margin: 0 auto;
        transform: translateY(-10px);
    }

    .main-bottom-title span {
        color: #91fa71;
    }

    .main-bottom-container {
        width: 1128px;
        height: 350px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        /* margin: 0 auto; */
    }

    .main-bottom-inner {
        width: 267px;
        height: 267px;
        border-radius: 25px;
        background-color: #FFFFFF1A;
    }

    .main-bottom-img {
        margin-left: 67px;
        margin-top: 30px;
    }

    .main-bottom-p {
        margin-left: 20px;
        font-weight: 500;
        font-size: 19px;
        letter-spacing: 0%;
    }

    .section-row {
        width: 1128px;
        padding-top: 50px;
        margin: 0 auto;
    }

    .section-container {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .section-inner {
        width: 608px;
        height: 484px;
    }

    .section-title {
        font-weight: 800;
        font-size: 35px;
        text-align: center;
        ;
    }

    .section-title2 {
        font-weight: 800;
        font-size: 50px;
        letter-spacing: 0%;
    }

    .section-title2 span {
        color: #91fa71;
    }

    .section-item {
        display: flex;
        flex-direction: row;
        gap: 17px;
        height: 60px;
        margin-top: 8px;
    }

    .section-img-size {
        width: 60px;
        height: 60px;
        border-radius: 15px;
        background-color: #7FFC591A;
    }

    .section-img {
        width: 34px;
        height: 34px;
        margin: 10px 10px;
    }

    .section-p {
        font-weight: 400;
        font-size: 21px;
        letter-spacing: 0%;
        color: #ffffff;
    }

    .section-inner {
        margin-top: -55px;
    }

    .section-inner2 {
        display: flex;
        flex-direction: column;
        width: 490px;
        height: 483px;
        border-radius: 30px;
        background-color: #FFFFFF1A;
        margin-top: -7px;
    }

    .section-auth {
        display: flex;
        flex-direction: row;
        width: 450px;
        height: 77px;
        margin-top: 20px;
        margin-left: 17px;
        gap: 15px;
    }

    .section-auth-input {
        width: 215px;
        height: 50px;
        border-radius: 10px;
        background-color: #FFFFFF1A;
        border: none;
        outline: none;
        color: #ffffff;
        font-size: 18px;
    }


    .section-input3 {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    label {
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        margin-left: 20px;
        transform: translateY(5px);
    }

    .section-name {
        margin-left: -1px;
    }

    ::placeholder {
        font-weight: 500;
        transform: translateX(10px);
        font-size: 18px;
        color: #B1B7C1;
    }

    .section-input {
        width: 450px;
        height: 50px;
        border-radius: 10px;
        background-color: #FFFFFF1A;
        border: none;
        color: #ffffff;
        font-size: 18px;
        margin-left: 17px;
        outline: none;
    }

    .section-btn {
        width: 450px;
        height: 60px;
        border-radius: 15px;
        background-color: #7FFC59;
        color: #323232;
        font-size: 22px;
        font-weight: 800;
        margin-left: 18px;
        margin-top: 30px;
    }

    .section-btn:hover {
        background-color: #5cdf35;
    }

    .main-slider {
        width: 1128px;
        height: 454px;
        padding-top: 60px;
        margin: 0 auto;
        position: relative;
        overflow: visible;
    }

    .main-slider-title {
        font-weight: 800;
        font-size: 35px;
        letter-spacing: 0%;
        text-align: center;
       text-align: center;;
    }

    .main-slider-title span {
        color: #7FFC59;
    }

    .swiper.mySwiper {
        width: 1128px;
        height: 296px;
        display: flex;
        overflow: hidden;
        position: relative;
        flex-direction: row;
        gap: 10px;
        margin: 0 auto;
    }

    .swiper-slide {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 362px;
        height: 296px;
        border-radius: 30px;
        background-color: #FFFFFF1A;
        flex-shrink: 0;
        transition: transform 8.3s ease-in-out;
        /* плавное изменение */
    }

    .main-slider-p {
        width: 322px;
        height: 130px;
        margin-left: 20px;
        opacity: 90%;
        font-weight: 400;
        font-size: 21px;
        letter-spacing: 0%;
        color: #ffffff;
    }

    .main-slider-p3 {
        color: #7ffc59;
    }

    .main-slider-human {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-left: 20px;
        margin-top: 45px;
    }

    .swiper_row {
        display: flex;
        text-align: center;
        justify-content: center;
        transform: translateY(130px);
        /* position: absolute; */
        z-index: 10;


    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        /* по центру по вертикали */
        width: 60px;
        /* размер кнопки — подберите под свои картинки */
        height: 60px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
        font-size: 30px;
        z-index: 10;
        /* поверх слайдов */
        cursor: pointer;
        opacity: 0.98;
    }

    .swiper-button-prev::after {
        color: #0000;
        width: 60px;
        height: 60px;
    }

    .swiper-button-next::after {
        color: #0000;
        width: 60px;
        height: 60px;
    }


    .swiper_row {
        width: 190px;
        height: 45px;
        display: flex;
        flex-direction: row;
        margin-top: -100px;
        position: relative;
        margin-left: 470px;

    }

    .swiper-button-prev {
        background-image: url("../ImgSide/Frame\ 125.png");
        /* position: relative; */
        background-size: 28px;
    }

    .swiper-button-next {
        background-size: 28px;
        background-image: url("../ImgSide/Frame 126.png");
    }

    .swiper-pagination {
        /* position: absolute; */
        bottom: 16px;
        color: #7ff07a;
        transform: translateX(-50%);
    }

    .swiper-pagination-bullet {
        background: #07c61080;
    }

    .swiper-pagination-bullet-active {
        background: rgb(17, 185, 25);
    }


    .main-slider-img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 3px solid #7ffc59;
    }

    .section-slider-name {
        height: 7px;
    }


    .contact-row {
        padding-top: 70px;
        /* padding-bottom: 65px; */

    }

    .contact-container {
        width: 1128px;
        height: 384px;
        margin: 0 auto;
    }

    .contact-row-title {
        font-weight: 800;
        font-size: 35px;
        letter-spacing: 0%;
        color: #7ffc59;
        text-align: center;
        margin: 0 auto;
    }

    .contact-inform {
        width: 1128px;
        height: 301px;
        border-radius: 30px;
        background-color: #FFFFFF1A;
        background-image: url(../ImgSide/_\ \(1\).png);
        background-size: 250px;
        background-repeat: no-repeat;
        background-position-x: 686px;
        background-position-y: 27px;
    }

    .contact-inform-title {
        width: 533px;
        height: 86px;
        font-weight: 800;
        font-size: 35px;
        letter-spacing: 0%;
        margin-left: 25px;
        transform: translateY(20px);
    }

    .contact-inform-p {
        width: 1088px;
        height: 37px;
        font-weight: 700;
        font-size: 30px;
        margin-left: 25px;
        transform: translateY(7px);
    }

    .contact-inform-call {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-left: 25px;
        margin-top: -15px;
    }

    .contact-inform-call2 {
        display: flex;
        flex-direction: row;
        width: 500px;
        transform: translate(26px, -15px);
    }

    .contact-important {
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: 80px;
        transform: translateY(13px);
    }

    .contact-inform-img {
        width: 24px;
        height: 24px;
    }

    .contact-inform-p2 {
        font-weight: 500;
        font-size: 21px;
        color: #7FFC59;
        margin-top: -1px;
        transform: translate(10px);
    }

    .contact-cyrcle {
        width: 200px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 950px;
        margin-top: -240px;
    }

    .cyrcle {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #7ffc59;
    }

    .footer {
        /* width: 1920px; */
        height: 274px;
        background-color: #FFFFFF1A;
        margin: 0 auto;
        margin-top: 50px;
    }

    .footer-container {
        width: 1116px;
        height: 274px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }

    .footer-inform {
        margin-top: 45px;
    }

    .footer-inform2 {
        margin-top: 150px;
    }

    .footer-img-size {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #3d4351;
        margin-top: 9px;
    }

    .footer-img {
        width: 40px;
        height: 40px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .footer-p {
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0%;
        color: #ffffff;
    }

    .footer-p2 {
        font-weight: 400;
        font-size: 21px;
        margin-top: -10px;
    }

    .footer-inform2-p {
        font-weight: 500;
        font-size: 18px;
    }

    .footer-inform3-p {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0%;
    }
}

/* Убираем стандартную стрелку summary */

@media (max-width: 750px) {
    body {
        background-color: #0f2137;
        /* margin: 0; */
        font-family: "Montserrat", sans-serif;
        background: var(--bg);
        color: #fff;
    }

    .header {
        width: 412px;
        height: 90px;
    }

    .container {
        width: 372px;
        height: 90px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        /* justify-content: space-evenly; */
        margin: 0 auto;
        margin-top: 20px;
    }

    .wrapper1 {
        /* width: 400px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -6px;
        margin-left: -7px;
        /* margin-left: -11px; */
    }

    .header-logo {
        width: 60px;
        height: 60px;
        margin-top: -10px;
    }

    .header-title {
        width: 123px;
        height: 22px;
        font-weight: 800;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #7ffc59;
        font-family: "Montserrat", sans-serif;
    }

    .wrapeer2-btn {
        width: 137px;
        height: 43px;
        color: #91fa71;
        border-radius: 15px;
        border: 2px solid #91fa71;
        font-weight: 700;
        background-color: #91FA7126;
        margin-top: 15px;
        /* transform: translate(20px); */
    }

    #nav-toggle {
        display: none;
    }

    .nav {
        position: absolute;
        top: 100px;
        width: 100%;
        height: 750px;
        right: -1000%;
        background: #0f2037;
        box-shadow: -8px 0 30px rgba(0, 0, 0, 0.6);
        transition: right .96s cubic-bezier(.90, .30, .40, 1);
        z-index: 55;
    }

    li {
        position: relative;
        list-style: none;
        border-bottom: 1px solid gray;
    }

    nav.nav a {
        display: inline-block;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 16px;
        padding: 13px 0;
        color: gray;
    }

    nav.nav a:hover {
        color: #91fa71
    }

    a:active,
    a:focus {
        color: #7ff07a;
    }

    #nav-toggle:checked~.nav.nav {
        right: 0;
    }

    svg {
        height: 45px;
        position: absolute;
        width: 45px;
    }

    .plates {
        display: flex;
        flex-wrap: wrap;
        max-height: 160px;
        width: 740px;
    }

    .plate {
        height: 45px;
        width: 45px;
    }

    .burger {
        filter: url(#gooeyness);
        transform: translateY(-95px);
        margin-left: 355px;
    }

    .x {
        transform: scale(0);
        transition: transform 10ms;
    }

    .line {
        fill: none;
        stroke: #7ff07a;
        stroke-width: 6px;
        stroke-linecap: round;
        stroke-linejoin: round;
        transform-origin: 50%;
        transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
    }


    .x .line {
        stroke-width: 5.5px;
    }

    .plate4 .x {
        transition: transform 400ms;
    }

    .plate4 .line {
        transform-origin: 50%;
        transition: transform 400ms 100ms;
    }

    .active.plate4 .line {
        transition: transform 400ms;
    }

    .active.plate4 .line1 {
        transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(.7);
    }

    .active.plate4 .line2 {
        transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(.7);
    }

    .active.plate4 .line3 {
        transform: translateY(0px) rotate(45deg) scale(.7);
    }

    .active.plate4 .line4 {
        transform: translateY(0px) rotate(-45deg) scale(.7);
    }

    .active.plate4 .line5 {
        transform: translateX(18px) translateY(3px) rotate(45deg) scale(.7);
    }

    .active.plate4 .line6 {
        transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(.7);
    }

    .active.plate4 .x {
        transition: transform 400ms 100ms;
        transform: scale(1);
    }

    .wrapeer2-btn2 {
        display: inline-flex;
        width: 40px;
        height: 40px;
        border: none;
        background-color: #0f2330;
        margin-top: 16px;
    }

    .inner {
        width: 412px;
        height: 730px;
        margin-top: -35px;
    }

    .inner-container {
        width: 372px;
        height: 730px;
        margin: 0 auto;
    }

    .header-img {
        margin-left: -20px;
    }

    .hdr-img4 {
        width: 200px;
        height: auto;
        transform: translate(-42px, -1090px);
    }

    .hdr-img5 {
        width: 220px;
        height: auto;
        transform: translate(96px, -1362px);
    }

    .hdr-img6 {
        width: 230px;
        height: auto;
        transform: translate(237px, -1529px);
    }

    .hdr-item {
        width: 372px;
        height: 352px;
        transform: translateY(60px);
    }

    .hdr-into-item {
        width: 372px;
        /* margin-left: 20px; */
        box-sizing: border-box;
        transform: translateY(80px);
    }

    .hdr-into-item-title {
        width: 230px;
        height: 189px;
        font-weight: 900;
        font-size: 35px;
        /* transform: translate(55px); */
        text-align: center;
        margin: 0 auto;
        word-break: break-word;
    }

    .hdr-into-item-p {
        width: 372px;
        height: 105px;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
        /* transform: translate(1px, -20px); */
    }

    .hdr-into-item-btn {
        width: 372px;
        height: 55px;
        font-weight: 900;
        border-radius: 15px;
        background-color: #79F953;
        border: none;
        font-size: 18px;
        box-shadow: 0px 0px 5px 1px #79F953;
    }

    .hdr-into-item-btn:hover {
        background-color: rgb(40, 184, 40);
    }

    .hdr-img1 {
        width: 200px;
        height: auto;
        transform: translate(-46px, 55px);
    }

    .hdr-img2 {
        width: 207px;
        height: auto;
        transform: translate(100px, -120px);
    }

    .hdr-img3 {
        width: 200px;
        height: auto;
        transform: translate(250px, -363px);
    }

    .main {
        width: 412px;
        height: 1085px;
        padding-top: 745px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .main-top-line {
        width: 372px;
        height: 3px;
        background-color: #91fa71;
        margin: 0 auto;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 40px;
        width: 372px;
        margin: 0 auto;
    }

    .main-title {
        width: 376px;
        height: 32px;
        font-weight: 800;
        font-family: "Montserrat", sans-serif;
        font-size: 25px;
        color: #ffffff;
        letter-spacing: 0%;
        text-align: center;
        margin: 0 auto;
        transform: translateY(16px);
    }

    .main-title span {
        color: #91fa71;
    }

    .main-inner {
        display: flex;
        flex-direction: column;
        gap: 19px;
    }


    .inform1 {
        width: 376px;
        height: 219px;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        background-color: #FFFFFF1A;
    }

    .inform1-title-show {
        display: flex;
        flex-direction: row;
    }

    .inform1-title {
        color: #91fa71;
        height: 24px;
        font-weight: 800;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        transform: translate(145px, 7px);

    }

    .inform-ellipse {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #97F67A;
        transform: translate(80px, 170px);
    }

    .inform1-p {
        width: 322px;
        height: 80px;
        color: #ffff;
        margin-left: 25px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        letter-spacing: 0%;
        font-size: 16px;
        text-align: center;
    }

    .inform1-p span {
        color: #91fa71;
        font-weight: 700;
    }

    .inform2 {
        width: 376px;
        height: 239px;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        background-color: #FFFFFF1A;
    }

    .inform2-title-show {
        display: flex;
        flex-direction: column;
    }

    .inform2-title {
        color: #91fa71;
        transform: translate(75px, 12px);
        font-weight: 800;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
    }

    .inform2-ellipse2 {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #97F67A;
        transform: translate(175px, 137px);
    }

    .inform2-p {
        width: 322px;
        height: 100px;
        color: #ffff;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        letter-spacing: 0%;
        font-size: 16px;
        text-align: center;
        transform: translate(25px, -23px);
    }

    .inform2-p span {
        color: #91fa71;
        font-weight: 700;
    }

    .inform3 {
        transform: translateY(-25px);
        width: 376px;
        height: 355px;
        border-radius: 25px;
        background-color: #FFFFFF1A;
    }

    .inform3-show {
        display: flex;
        flex-direction: column;
    }

    .inform3-p1 {
        width: 322px;
        height: 80px;
        text-align: center;
        margin-left: 25px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        color: #ffffff;
        transform: translateY(12px);
    }

    .inform3-ellipse {
        width: 20px;
        height: 20px;
        background-color: #97F67A;
        border-radius: 50%;
        transform: translate(175px, 200px);
    }

    .inform3-p2 {
        width: 322px;
        height: 40px;
        text-align: center;
        margin-left: 25px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        letter-spacing: 0%;
        color: #ffffff;
        transform: translateY(-16px);
    }

    .main-bottom-line {
        width: 376px;
        height: 3px;
        background-color: #7ffc59;
        transform: translateY(11px);
    }

    .main-center {
        width: 412px;
        display: flex;
        flex-direction: column;
        padding-top: 27px;
        flex-wrap: wrap;
        margin: 0 auto;
        position: relative;
    }

    .main-center-container {
        width: 372px;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-top: 35px;
    }

    .section-title {
        text-align: center;
        font-size: 26px;
        font-weight: 800;
        letter-spacing: 0%;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .section-title span {
        color: #7FFC59;
    }

    .accordion {
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
        gap: 10px;
    }

    details.item {
        /* box-shadow: var(--shadow); */
        background: var(--card);
        /* фон всей карточки */
        border-radius: 40px;
        /* общий радиус */
        padding: 0;
        overflow: visible;
        transition: transform .98s ease;
    }

    details.item summary {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    details.item summary::-webkit-details-marker {
        display: none;
    }

    /* Убираем стандартную стрелку summary */
    .summary-row {
        width: 376px;
        height: 74px;
        display: flex;
        flex-direction: row;
        gap: 12px;
        background: #FFFFFF2A;
        cursor: pointer;
        user-select: none;
        border-radius: 100px 100px 100px 100px;
    }

    .item-title {
        width: 280px;
        height: 24px;
        font-weight: 800;
        font-size: 18px;
        color: #7FFC59;
        line-height: 1.05;
        letter-spacing: 0%;
        margin-left: 25px;
        margin-top: 15px;
    }

    .chev {
        display: inline-grid;
        place-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #91fa71;
        background-image: url('../ImgSide/arrowspng.png');
        background-repeat: no-repeat;
        background-size: 16px;
        background-position-x: 4px;
        background-position-y: 4px;
        color: black;
        margin-top: 19px;
        margin-left: 9px;
        transform: rotate(0deg);
        transition: transform .25s ease, background .18s;
        flex-shrink: 0;
    }

    .item-body {
        padding: 18px;
        color: var(--muted);
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
        margin-top: 0;
        background: transparent;
        letter-spacing: 0%;
        position: relative;
        z-index: 19;
        margin-left: 4px;
        overflow-y: auto;
        overflow: hidden;
        border-radius: 30px;
        transition: max-height 320ms ease, padding 290ms ease;
    }

    body {
        --bg: #0f2137;
        /* фон страницы */
        --card: rgba(255, 255, 255, 0.10);
        /* фон карточки */
        --panel: rgba(255, 255, 255, 0.04);
        /* фон верхней панели */
        --accent: #7ff07a;
        /* зелёный текст */
        --muted: #cbd5dd;
        /* описание */
        /* --radius: 18px; */
        --gap: 22px;
    }

    /* Когда раскрыт — показываем тело и поворачиваем стрелку */
    details.item[open] .item-body {
        max-height: var(--max-body-height);
    }

    .details-item .summary {
        position: relative;
        z-index: 1;
    }

    details.item[open] .chev {
        transform: rotate(180deg);
    }

    details[open] .item-body {
        max-height: 420px;
    }

    .item[open] .chev {
        transform: rotate(180deg);
        color: #0f2137;
    }

    .main-bottom {
        width: 412px;
        height: 552px;
        padding-top: 50px;
        position: relative;
        margin: 0 auto;
    }

    .main-bottom-container {
        width: 372px;
        height: 448px;
        display: flex;
        margin-left: 18px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
    }

    .main-bottom-title {
        width: 300px;
        height: 64px;
        font-weight: 800;
        font-size: 26px;
        letter-spacing: 0%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .main-bottom-title span {
        color: #91fa71;
    }

    .main-bottom-inner {
        width: 176px;
        height: 214px;
        border-radius: 25px;
        background-color: #FFFFFF1A;
    }

    .main-bottom-img {
        width: 100px;
        height: 100px;
        margin-left: 32px;
        margin-top: 12px;
    }

    .main-bottom-p {
        width: 152px;
        height: 54px;
        margin-left: 10px;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0%;
        text-align: center;
    }

    .section-row {
        width: 412px;
        height: 986px;
        padding-top: 30px;
        margin: 0 auto;
    }

    .section-container {
        width: 372px;
        height: 986px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: -20px;
    }

    .section-inner {
        height: 343px;
        width: 372px;
    }

    .section-title {
        width: 373px;
        height: 32px;
        font-weight: 800;
        font-size: 26px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .section-title2 {
        height: 148px;
        width: 376px;
        font-weight: 800;
        font-size: 30px;
        text-align: center;
        letter-spacing: 0%;
    }

    .section-title2 span {
        color: #91fa71;
    }

    .section-item {
        display: flex;
        flex-direction: row;
        gap: 17px;
        height: 45px;
        margin-top: 8px;
    }

    .section-img-size {
        width: 45px;
        height: 45px;
        border-radius: 15px;
        background-color: #7FFC591A;
        margin-top: 10px;
    }

    .section-img {
        width: 25.5px;
        height: 25.5px;
        margin: 10px 10px;
    }

    .section-p {
        width: 376px;
        height: 20px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0%;
        /* margin-to */
        color: #ffffff;
    }

    .section-inner2 {
        width: 372px;
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 30px;
        background-color: #FFFFFF1A;
        /* margin-top: -118px; */
        gap: 10px;
    }

    .section-auth {
        display: flex;
        flex-direction: column;
        width: 376px;
        height: 77px;
        margin-left: 20px;
        gap: 15px;
    }

    .section-auth-item {
        display: flex;
        flex-direction: column;
    }

    .section-auth-input {
        width: 332px;
        height: 45px;
        border-radius: 10px;
        background-color: #FFFFFF1A;
        border: 1px solid #ccc;
        color: #ffffff;
        font-size: 18px;
        border: none;
        outline: none;
    }

    label {
        font-weight: 600;
        font-size: 15px;
        color: #FFFFFF;
        transform: translate(21px, 5px);
    }

    .section-name {
        transform: translate(5px, -3px);
    }

    ::placeholder {
        font-weight: 500;
        font-size: 18px;
        transform: translateX(10px);
        color: #B1B7C1;
    }

    .section-input {
        width: 332px;
        height: 45px;
        border-radius: 10px;
        background-color: #FFFFFF1A;
        border: none;
        color: #ffffff;
        font-size: 18px;
        margin-left: 17px;
        outline: none;
    }

    .section-input3 {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-top: 25px;
    }

    .section-btn {
        width: 332px;
        height: 50px;
        border-radius: 15px;
        background-color: #7FFC59;
        color: #323232;
        font-size: 18px;
        font-weight: 800;
        margin-left: 18px;
        margin-top: 28px;
    }

    .section-btn:hover {
        background-color: #5cdf35;
    }
}

@media (max-width: 750px) {
    .main-slider {
        width: 412px;
        height: 377px;
        margin: 0 auto;
        position: relative;
        margin-top: 80px;
    }

    .main-slider-title {
        height: 32px;
        font-weight: 800;
        font-size: 26px;
        letter-spacing: 0%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .main-slider-title span {
        color: #7FFC59;
    }

    .swiper.mySwiper {
        width: 372px;
        display: flex;
        overflow: hidden;
        position: relative;
        flex-direction: column;
        /* gap: 10px; */
        /* margin-top: 45px; */
        margin: 0 auto;

    }

    .swiper-slide {
        width: 372px;
        height: 235px;
        display: flex;
        flex-direction: row;
        border-radius: 30px;
        background-color: #FFFFFF2A;
        flex-shrink: 0;
        margin: 0 auto;
        transition: transform 0.3s ease-in-out;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        /* чтобы стрелки были снизу */
        width: 40px;
        height: 40px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10;
    }

    .swiper-button-prev::after {
        color: #0000;
    }

    .swiper-button-next::after {
        color: #0000;

    }

    .swiper_row {
        width: 174px;
        height: 40px;
        display: flex;
        flex-direction: row;
        position: absolute;
        margin-top: 17px;
        margin-left: 120px;
        z-index: 10;
    }

    .swiper-pagination {
        transform: translateY(-200px);
        color: #91fa71;
    }

    /* Левая стрелка */
    .swiper-button-prev {
        /* margin-top: 100px; */
        font-size: 0;
        background-image: url("../ImgSide/Frame 125.png");
    }

    /* Правая стрелка */
    .swiper-button-next {
        background-image: url("../ImgSide/Frame 126.png");
    }

    .main-slider-p {
        width: 332px;
        height: 100px;
        margin-left: 20px;
        margin-top: 20px;
        opacity: 90%;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0%;
        color: #ffffff;
    }

    .main-slider-p2 {
        width: 150px;
        height: 18px;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 0%;
    }


    .main-slider-p3 {
        width: 237px;
        height: 16px;
        font-weight: 500;
        font-size: 13px;
        margin-top: -10px;
        letter-spacing: 0%;
    }

    .main-slider-p3 {
        color: #7ffc59;
    }

    .main-slider-human {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-left: 20px;
        padding-bottom: 14px;
    }

    .main-slider-img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        border: 3px solid #7ffc59;
    }
}

@media (max-width: 750px) {
    .contact-row {
        width: 412px;
        height: 426px;
        margin: 0 auto;
        transform: translateY(-30px);
    }

    .contact-container {
        width: 372px;
        height: 426px;
        margin: 0 auto;
    }

    .contact-row-title {
        font-weight: 800;
        font-size: 35px;
        letter-spacing: 0%;
        color: #7ffc59;
        text-align: center;
        /* transform: translateY(-7px); */
    }

    .contact-inform {
        width: 376px;
        height: 354px;
        border-radius: 30px;
        background-color: #FFFFFF1A;
        background-image: url(../ImgSide/_\ \(1\).png);
        background-size: 220px;
        background-repeat: no-repeat;
        background-position-x: 202px;
        background-position-y: 110px;
    }

    .contact-inform-title {
        width: 332px;
        height: 90px;
        font-weight: 800;
        font-size: 25px;
        text-align: center;
        letter-spacing: 0%;
        transform: translate(17px, 28px);
    }

    .contact-inform-p {
        width: 332px;
        height: 48px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        margin-left: 20px;
        transform: translateY(20px);
    }

    .contact-inform-call {
        width: 273px;
        height: 20px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 46px;
    }

    .contact-inform-call2 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 340px;
        height: 23px;
        margin-left: 39px;
    }

    .contact-important {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 120px;
        transform: translateY(15px);
    }

    .contact-inform-img {
        width: 24px;
        height: 24px;
    }

    .contact-inform-p2 {
        width: 243px;
        height: 20px;
        font-weight: 500;
        font-size: 16px;
        color: #7FFC59;
        margin-top: -0.5px;
    }

    .contact-cyrcle {
        width: 200px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 120px;
        margin-top: -2px;
    }

    .cyrcle {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #7ffc59;
    }
}

@media (max-width: 750px) {
    footer {
        width: 412px;
        height: 242px;
        padding-top: 40px;
        margin: 0 auto;
    }

    .footer-container {
        width: 412px;
        height: 242px;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF1A;
    }

    .footer-inform {
        width: 154px;
        height: 77px;
        margin-left: 22px;
        margin-top: -37px;
    }

    .footer-inform2 {
        margin-top: 94px;
        margin-left: 50px;
    }

    .footer-img-size {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #3d4351;
        transform: translateY(80px);
        margin-left: 320px;
    }

    .footer-img {
        width: 36px;
        height: 36px;
        margin-top: 4px;
        margin-left: 4px;
    }

    .footer-p {
        width: 140px;
        height: 22px;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0%;
        color: #ffffff;
    }

    .footer-p2 {
        width: 151px;
        height: 20px;
        font-weight: 400;
        font-size: 16px;
        margin-top: -10px;
    }

    .footer-inform2-p {
        width: 300px;
        height: 17px;
        font-weight: 500;
        font-size: 14px;
    }

    .footer-inform3-p {
        width: 170px;
        height: 18px;
        margin-left: 80px;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 0%;
    }
}